force-app/main/default/flows/Create_HC_Records_upon_Provider_Referral_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Account_Populated</name>
        <label>Account Populated?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Specialty_Defined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Healthcare_Practitioner_Facility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Healthcare_Practitioner_Facility_Created</name>
        <label>Healthcare Practitioner Facility Created?</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Care_Provider_Facility_Specialty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specialty_Defined</name>
        <label>Specialty Defined</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HealthCloudGA__Specialty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Specialty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a provider referral lead is converted, create required health cloud related records</description>
    <environments>Default</environments>
    <formulas>
        <name>ProviderSpecialty</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account_Record.Name} &amp; &quot;-&quot; &amp; {!Get_Care_Specialty.Name}</expression>
    </formulas>
    <interviewLabel>Create HC Records upon Provider Referral Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create HC Records upon Provider Referral Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Care_Provider_Facility_Specialty</name>
        <label>Create Care Provider Facility Specialty</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimarySpecialty</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProviderSpecialty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerFacilityId</field>
            <value>
                <elementReference>Create_Healthcare_Practitioner_Facility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtyId</field>
            <value>
                <elementReference>Get_Care_Specialty.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CareProviderFacilitySpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Healthcare_Practitioner_Facility</name>
        <label>Create Healthcare Practitioner Facility</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Specialty_Defined</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.HealthCloudGA__RelatedAccount__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimaryFacility</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Person_Account_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Healthcare_Provider</name>
        <label>Create Healthcare Provider</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Account_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Person_Account_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcareProvider</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Healthcare_Provider_Specialty</name>
        <label>Create Healthcare Provider Specialty</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Healthcare_Practitioner_Facility_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimarySpecialty</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProviderSpecialty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtyId</field>
            <value>
                <elementReference>Get_Care_Specialty.Id</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcareProviderSpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Care_Specialty</name>
        <label>Get Care Specialty</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Healthcare_Provider_Specialty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__Specialty__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareSpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Healthcare_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_RT</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
