force-app/main/default/flows/Specialty_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Select Specialties to be added to a provider</description>
    <dynamicChoiceSets>
        <name>CareSpecialties</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Specialty</elementReference>
            </value>
        </filters>
        <object>CareSpecialty</object>
        <outputAssignments>
            <assignToReference>CareSpecialtyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CareSpecialtyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CareSpecialtyTaxonomy</name>
        <dataType>String</dataType>
        <displayField>Care_Taxonomy_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CareSpecialtyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareSpecialtyId</elementReference>
            </value>
        </filters>
        <object>CareSpecialtyTaxonomy</object>
        <outputAssignments>
            <assignToReference>CareTaxonomyId</assignToReference>
            <field>CareTaxonomyId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CareTaxonomyName</assignToReference>
            <field>Care_Taxonomy_Name__c</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CareTaxonomies</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Specialty</elementReference>
            </value>
        </filters>
        <object>CareTaxonomy</object>
        <outputAssignments>
            <assignToReference>CareTaxonomyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CareTaxonomyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ProviderSpeciality</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account_Record.Name} &amp; &quot;-&quot; &amp; {!CareSpecialtyName}</expression>
    </formulas>
    <formulas>
        <name>ProviderTaxonomy</name>
        <dataType>String</dataType>
        <expression>{!Get_Person_Account_Record.Name} &amp; &quot;-&quot; &amp; {!CareTaxonomyName}</expression>
    </formulas>
    <interviewLabel>Specialty Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Specialty Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Healthcare_Provider_Specialty</name>
        <label>Create Healthcare Provider Specialty</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Healthcare_Provider_Taxonomy_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimarySpecialty</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProviderSpeciality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerId</field>
            <value>
                <elementReference>Get_Person_Account_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtyId</field>
            <value>
                <elementReference>CareSpecialtyId</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcareProviderSpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Healthcare_Provider_Taxonomy_Record</name>
        <label>Create Healthcare Provider Taxonomy Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimaryTaxonomy</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProviderTaxonomy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PractitionerId</field>
            <value>
                <elementReference>Get_Person_Account_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxonomyId</field>
            <value>
                <elementReference>CareTaxonomyId</elementReference>
            </value>
        </inputAssignments>
        <object>HealthcareProviderTaxonomy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Account_Record</name>
        <label>Get Person Account Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Specialty_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Search_Specialty_Screen</name>
        <label>Search Specialty Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Specialty_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Specialty</name>
            <dataType>String</dataType>
            <fieldText>Search Specialty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Specialty_Screen</name>
        <label>Select Specialty Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Taxonomy_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Specialty</name>
            <choiceReferences>CareSpecialties</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Specialty</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Taxonomy_Screen</name>
        <label>Select Taxonomy Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Healthcare_Provider_Specialty</targetReference>
        </connector>
        <fields>
            <name>Select_Taxonomy</name>
            <choiceReferences>CareSpecialtyTaxonomy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Taxonomy</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Healthcare Provider Specialty and Healthcare Provider Taxonomy have been added for this Provider.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CareSpecialtyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareSpecialtyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareTaxonomyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareTaxonomyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
